@{
    ViewData["Title"] = "Infor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Model.User

<div class="page_content_wrap p-0">
    <!-- <div class="progress rounded-0" style="height: 6px;">
        <div class="progress-bar w-10" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div> -->

    <div class="your-information py-md-6 p-4">
        <div class="my-container">
            <div class="row pb-4">

                <div class="col">
                    <div class="payment-form theme-color bg-white p-md-5 p-3 rg-form" style="padding:3rem 6rem!important;" id="resetPass">
                        <div class="payment-form mb-5" style="padding-left: 4rem;">
                            <h4>Your information</h4>
                            <table class="tb-infor">
                                <tr>
                                    <td>
                                        <label asp-for=LastName></label>
                                    </td>
                                    <td class="col-right">
                                        @Model.LastName
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="FirstName"></label>
                                    </td>
                                    <td class="col-right">
                                        @Model.FirstName
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="Phone"></label>
                                    </td>
                                    <td class="col-right">
                                        @Model.Phone
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="Address"></label>
                                    </td>
                                    <td class="col-right">
                                        @Model.Address
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                     <div class="text-center py-5">

                            <a class="btn btn-primary btn-lg" asp-action="ChangeInfor">Change your infor</a>
                     </div>
                </div>

            </div>
        </div>
    </div>
</div>

