@using Model
@model List<Order>

<div class="row order" style="margin-top: 10px;">
    <h2>Your order</h2>
    @if(Model != null && Model.Count != 0){
        foreach(var item in Model)
    {
        <div class="col-md-4">
               <div class="card order-item">
                <h4>@item.Food.MealTime.ToString()</h4>
                <h5>@item.Food.Name</h5>
                <a asp-action="CancelOrder" asp-route-id="@item.Id" class="btn btn-danger" style="color: #fff;">Cancel order</a>
               </div>
            </div>
        }
    }
    else
    {
        <h4>You don't have any order, order now on menu below!</h4>
    }

</div>